* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;

  --red: #ed3a5a;
  --purple: #7c3aed;
  --gray-50: #f8fafc;
  --gray-100: #f1f5f9;
  --gray-200: #e2e8f0;
  --gray-300: #cbd5e1;
  --gray-400: #94a3b8;
  --gray-500: #64748b;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1e293b;
  --gray-900: #0f172a;
}

body {
  font-size: 1.6rem;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 38.4rem;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

section .title {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.title h1 {
  color: var(--gray-800);
  font-size: 3.6rem;
}

.title span {
  color: var(--gray-600);
  font-size: 1.6rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

form button {
  margin-top: 1.6rem;
}

input {
  outline: none !important;
  background: white;
  border: 0.1em solid var(--gray-200);
  padding: 1.6em 1.2em;
  border-radius: 0.4em;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

input::placeholder {
  color: var(--gray-400);
}

input:hover,
input:focus {
  border: 0.1em solid var(--purple);
}

input.error {
  border: 1px solid var(--red);
}

label {
  color: var(--gray-800);
  font-weight: 600;
  font-size: 1.4rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  padding: 16px;
  background: var(--purple);
  color: white;
  border: 0;
  border-radius: 0.4em;
}

.password-container {
  display: flex;
  justify-content: space-between;
}

a,
a:visited,
a:hover {
  color: var(--purple);
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

.forget {
  color: var(--gray-600);
}

.forget,
.forget a {
  font-size: 1.6rem;
}
